<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact me</title>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/website.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lexend+Mega|Special+Elite|Zilla+Slab&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <script src="/assets/jquery.counterup.min.js"></script>
</head>

<body>
  <%- include('./partials/sideBar'); %>
  <div class="mainWrap">
    <h1 class="about-me" id="contactMe">Contact</h1>
  </div>
  <div class="formStyle col-md-10">

    <form method="post">
      <label for="name">Your name</label>
      <input type="text" name="name" placeholder="Your name" required><br>
      <label for="email">Your email</label>
      <input type="text" name="email" placeholder="Your email address" required><br>
      <label for="subject">Subject</label>
      <input type="text" name="subject" placeholder="Subject" required><br>
      <label for="message">Your message</label>
      <textarea type="text" name="message" placeholder="Message" required></textarea><br>
      <button type="Submit">Send</button>

    </form>

  </div>

</body>

</html>