body {
  font-family: "Open Sans", arial;
  font-weight: 300;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.settings {
  height: 73px;
  float: left;
  background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
  background-repeat: no-repeat;
  width: 250px;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  font-family: 'Strait', sans-serif;
}

/* ScrollBar start */
.scrollbar {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {
  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*scrollbar end*/

/* Scrollbar Style */
#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #BFBFBF;
}
/*scroll style end*/

/*sidebar start*/

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: hidden;
  opacity: 1;
}

.main-menu {
    background: #85C1E9;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 55px;
    /* overflow:hidden; */
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

    .main-menu li > a {
        position: relative;
        width: 255px;
        height: 6vh;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: black;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .14s linear;
        transition: all .14s linear;
        font-family: 'Roboto', sans-serif;
        border-top: 1px solid #f2f2f2;
    }

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Lexend Mega', sans-serif;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

/*scrollbar end*/

/* Logo Hover Property */
.settings:hover, settings:focus {
  background: url(https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
  -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active, settings:focus {
  background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
  -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
  transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}

a:hover, a:focus {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.main-menu li:hover>a, nav.main-menu li.active>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: white;
  background-color: #171313;
  text-shadow: 0px 0px 0px;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.fa {
  padding: 10px 10px;
}

.about-me {
  font-family: 'Special Elite', cursive;
  margin-left: 15vh;
  letter-spacing: 3px;
  margin-top: 6vh;
  font-size: -webkit-xxx-large;
}

#contactMe {
  margin-left: 20vh;
}

.ps-wrap {
    width: 150vh;
    height: auto;
    margin-left: 10vh;
    margin-bottom: 2vh;
    padding: 10px;
    background: #E5E8E8;
    -webkit-box-shadow: 5px 5px 5px 1px #d5d8dc;
    -moz-box-shadow: 5px 5px 5px 1px #d5d8dc;
    box-shadow: 5px 5px 5px 1px #d5d8dc;
    border-radius: 7px;
    text-align:justify;
}

.psSum {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin-left: 8vh;
    font-size: 15px;
    text-decoration:underline;
}

.psSum1, .DetailsUL {
    letter-spacing: 3px;
    margin-left: 8vh;
    margin-right: 8vh;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0px;
}

.myImg {
  height: 50vh;
  width: 50vh;
  float: right;
  margin-top: 20vh;
  margin-right: 10vh;
  box-shadow: 10px 10px 22px 1px rgba(3, 2, 2, 0.75);
  border-radius: 50%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.myImgafter {
  height: 30vh;
  width: 30vh;
  float: right;
  margin-top: 20vh;
  margin-right: 7vh;
  box-shadow: 10px 10px 22px 1px rgba(3, 2, 2, 0.75);
  border-radius: 50%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.formStyle {
    width: 70%;
    margin-left: 20vh;
    background: rgba(186, 178, 178, 0.1);
    padding: 30px;
    height: auto;
    -webkit-box-shadow: 5px 5px 5px 1px #d5d8dc;
    -moz-box-shadow: 5px 5px 5px 1px #d5d8dc;
    box-shadow: 5px 5px 5px 1px #d5d8dc;
    border-radius: 7px;
}

label {
    width: 150px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-right: 5vh;
    line-height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input, label {
  float: left;
  height: 4vh;
  /* line-height: 7vh; */
  margin-bottom: 10px;
}

input, textarea {
    border-radius: 5px;
    width: 60%;
    resize: none;
    border: solid black 0.5px;
}

textarea {
  height:auto;
}

button {
    border-radius: 6px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 3vh;
    font-family: 'Roboto', sans-serif;
    float: right;
}

button:hover {
  background: #3cbd3c;
  color: black;
}

.mySkill {
    width: 25%;
    margin-left: 10vh;
    margin-bottom: 30px;
    background: #E5E8E8;
    padding-top: 30px;
    -webkit-box-shadow: 5px 5px 5px 1px #D5D8DC;
    -moz-box-shadow: 5px 5px 5px 1px #D5D8DC;
    box-shadow: 5px 5px 5px 1px #D5D8DC;
    float: left;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    height: 10vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 7px;
}

.mySkillLevel {
    color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.mySkill:hover {
  transform: scale(1.1);
}

.firstRow, .secondRow, .thirdRow {
  margin-top: 5vh;
}
.thirdRow{
 
    text-align:center;
}

.fas, .fa-code {
  font-weight: bold;
  margin-right: 10px;
  margin-left: -4vh;
}

.Projects {
    font-size: 18px;
    width: 50vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 3vh;
    border-radius: 40%;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    margin-top: 6vh;
    position: absolute;
    left: 0px;
    margin-left: 72vh;
    float: left;
}

/* css for each project card */
.projectSlideShow .project1, .projectEmpty {
    width: 70%;
    height: auto;
    margin-top: 3vh;
    margin-left: 30vh;
    margin-bottom: 5vh;
    margin-right: 30vh;
    background: #E5E8E8;
    padding-top: 30px;
    -webkit-box-shadow: 5px 5px 5px 1px #D5D8DC;
    -moz-box-shadow: 5px 5px 5px 1px #D5D8DC;
    box-shadow: 5px 5px 5px 1px #D5D8DC;
    border-radius: 7px;
    float: left;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.proUl {
    letter-spacing: 3px;
    margin-left: 8vh;
    margin-right: 8vh;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
#democen{
    margin:0 auto;
}
.proUl li {
  list-style-type: disc;
  padding: 15px;
  text-align: left;
}

.proUl h2, .proUl a {
    font-family: 'Roboto', sans-serif;
    margin-left: 7vh;
    padding-bottom: 20px;
    margin-right: 10vh;
    letter-spacing: 2px;
    line-height: 23px;
    text-decoration: none;
    text-align: left;
}

.slideButtons li {
  position: relative;
  list-style: none;
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: -4vh;
  padding: 2px;
}

.slideButtons {
  margin: 0;
  padding: 0;
  width: 30vh;
  height: 0vh;
  margin-left: 92vh;
}